<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_tdm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_tdm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.ReservationDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_reservation_details"
            android:theme="@style/Theme.Projet_tdm.NoActionBar" />
        <activity
            android:name=".ui.ReservationsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ParkingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.parking_details.ParkingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>